font {font-family: verdana,helvetica}
td {font-family: verdana,helvetica; font-size: 11px}
body {font-family: verdana,helvetica; font-size: 11px}
p {font-family: verdana,helvetica; font-size: 11px}
div {font-family: verdana,helvetica; font-size: 11px}
input {font-family: verdana,helvetica; font-size: 11px}
textarea {font-family: verdana,helvetica; font-size: 11px}
form {font-family: verdana,helvetica; font-size: 11px}
a:link {background: none; color: #000000; font-size: 11px; font-family: verdana, helvetica; text-decoration: underline}
a:active {background: none; color: #000000; font-size: 11px; font-family: verdana, helvetica; text-decoration: underline}
a:visited {background: none; color: #000000; font-size: 11px; font-family: verdana, helvetica; text-decoration: underline}
a:hover {background: none; color: #000000; font-size: 11px; font-family: verdana, helvetica; text-decoration: underline}
.title {background: none; color: #000000; font-size: 13px; font-weight: bold; font-family: verdana, helvetica; text-decoration: none}
.content {background: none; color: #000000; font-size: 11px; font-family: verdana, helvetica}
.storytitle {background: none; color: #363636; font-size: 14px; font-weight: bold; font-family: verdana, helvetica; text-decoration: none}
.storycat {background: none; color: #000000; font-size: 13px; font-weight: bold; font-family: verdana, helvetica; text-decoration: underline}
.boxtitle {background: none; color: #363636; font-size: 11px; font-weight: bold; font-family: verdana, helvetica; text-decoration: none}
.boxcontent {background: none; color: #000000; font-size: 12px; font-family: verdana, helvetica}
.option {background: none; color: #000000; font-size: 13px; font-weight: bold; font-family: verdana, helvetica; text-decoration: none}
.tiny {background: none; color: #000000; font-size: 10px; font-weight: normal; font-family: verdana, helvetica; text-decoration: none}
.footmsg {background: none; color: #000000; font-size: 8px; font-weight: normal; font-family: verdana, helvetica; text-decoration: none; text-align: center}
.footmsg_l {background: none; color: #000000; font-size: 8px; font-weight: normal; font-family: verdana, helvetica; text-decoration: underline; text-align: center}
.box {font-family: verdana,helvetica; font-size: 11px; border: 1px solid #000000; background-color: #ffffff}
img {border-style: none}
