.nukeNAV,.nukeNAV *{z-index:2;list-style:none;margin:0;padding:0;}
.nukeNAV{position:relative;}
.nukeNAV a{border:1px solid #dad8d8;padding-left:4px;padding-right:4px;font-size:10px;color:#000;}
.nukeNAV li:hover,.nukeNAV li.sfHover,.nukeNAV a:focus,.nukeNAV a:hover,.nukeNAV a:active{background:#dad8d8;color:#000;}
.nukeNAV li,.nukeNAV li li,.nukeNAV li li li{background:#eee;}
.sf-sub-indicator{background:url(../../../includes/jquery/css/images/arrows-000000.png) no-repeat -10px -100px;}
.nukeNAVmod a{border-left:1px solid #fff;border-top:1px solid #F4F6FB;}
.nukeNAVmod a,.nukeNAVmod a:visited{color:#000;}
.nukeNAVmod li:hover,.nukeNAVmod li.sfHover,.nukeNAVmod a:focus,.nukeNAVmod a:hover,.nukeNAVmod a:active{color:#000;background:#DAD8D8;outline:0;}
.nukeNAVmod li{background:transparent;}
.nukeNAVmod li li,.nukeNAVmod li li li{background:#eee;}
